# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Кеш и временные файлы
.cache/
*.log
*.tmp

# Операционная система
.DS_Store
Thumbs.db

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# Переменные окружения
.env
.env.local
.env.*.local

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output